# Para Vault:
DEV_VAULT_HOST=127.0.0.1
DEV_VAULT_PORT=8200
DEV_VAULT_SCHEME=http
DEV_VAULT_AUTHENTICATION=token
DEV_VAULT_TOKEN=00000000-0000-0000-0000-000000000000
#Para Config Server:
DEV_CONFIG_HOST=localhost
DEV_CONFIG_PORT=8888
DEV_CONFIG_PROFILE=dev
